scraper_htmls/*
scraper_trending/*
scraper_urls/*
scraper_urls_shallow/*
temp_folder/*
twitter_htmls/*
twitter_tweets/*
tweets/*
cookies2.json
cookies1.json
cookies2.json
data/*
cookies2.json
cookies2.json
cookies2.json
